.centered {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh; /* O ajusta según necesites */
}
h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
  color: #004080;
}


