<div class="container">
  <h2>
    {{ EditMode ? "Editar Cliente" :"Registrar Cliente" }}
  </h2>

  <form (ngSubmit)="registerClient()" class="factura-form">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input id="name" [(ngModel)]="name" name="name" required>
    </div>

    <div class="form-group">
      <label for="cif">CIF:</label>
      <input id="cif" [(ngModel)]="cif" name="cif" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="email" name="email" type="email" required>
    </div>

    <div class="form-group">
      <label for="phone">Teléfono:</label>
      <input id="phone" [(ngModel)]="phone" name="phone" type="number" required>
    </div>

    <div class="form-group">
      <label for="address">Dirección:</label>
      <input id="address" [(ngModel)]="address" name="address" required>
    </div>

    <div class="form-group">
      <label for="postalCode">Código postal:</label>
      <input id="postalCode" [(ngModel)]="postalCode" name="postalCode" type="number" required>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ EditMode ? "Guardar cambios" :"Registrar Cliente" }}
    </button>
  </form>

  <div class="container-close">
    <button (click)="goBack()" class="btn btn-secondary">Volver</button>
  </div>
</div>

